<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin" translate="dashboard.WELCOME" translate-values="{ appName: app.name }">Benvenuto</h4>
    <span class="mainDescription">Features </span>
    <div ncy-breadcrumb class="pull-right"></div>
</div>

<!-- start: TABLE WITH FILTERS -->
<div class="container-fluid container-fullw padding-bottom-50" data-ng-controller="FeatureController as FeatureCtrl">

    <script type="text/ng-template" id="letterFilter.html">
        <div class="center">
            <a href="#">
                <letter-icon icon="fa fa-times-circle" char-count="1" color="auto" box="circle" size="sm" uib-tooltip="Reset" ng-click="FeatureCtrl.filterLetter('reset')" class="margin-bottom-5"></letter-icon>
            </a>
            <a href="#" data-letter="{{letter}}" ng-repeat="letter in FeatureCtrl.letterList">
                <letter-icon data="{{letter}}" char-count="1" color="auto" box="circle" size="sm" uib-tooltip="{{letter}}" ng-click="FeatureCtrl.filterLetter(letter)" class="margin-bottom-5"></letter-icon>
            </a>
        </div>
    </script>

    <!-- LARGER TOOLS BUTTON -->
    <div class="row padding-bottom-20 visible-lg">
        <div class="col-md-8 col-sm-12">
            <div role="form" class="form-inline">
                <div class="input-group" ng-if="$state.current.val > 200">
                    <a class="btn btn-squared btn-primary" href="#" ng-click="FeatureCtrl.openForm()"><i class="fa fa-plus"></i> New feature</a>
                </div>
                <div class="input-group">
                    <span class="input-icon input-icon-right">
                        <input type="text" placeholder="Filtra" class="form-control" ng-model="FeatureCtrl.searchFilter">
                        <i class="fa fa-search hand-cursor" ng-if="FeatureCtrl.searchFilter.length <= 0"></i>
                        <i class="fa fa-times hand-cursor" ng-if="FeatureCtrl.searchFilter.length > 0" ng-click="FeatureCtrl.searchFilter=''"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="btn-group pull-right" ng-init="FeatureCtrl.gridViewMode=1">
                <label class="btn btn-squared btn-primary" uib-popover-template="FeatureCtrl.letterFilterPopover.templateUrl" popover-trigger="outsideClick" popover-placement="left" popover-title="{{FeatureCtrl.letterFilterPopover.title}}">
                    <i class="fa fa-filter"></i>
                </label>
                <label class="btn btn-squared btn-light-blue" ng-model="FeatureCtrl.gridViewMode" uib-btn-radio="1">
                    <i class="ti ti-layout-grid4"></i>
                </label>
                <label class="btn btn-squared btn-light-blue" ng-model="FeatureCtrl.gridViewMode" uib-btn-radio="2">
                    <i class="ti ti-layout-grid3"></i>
                </label>
                <label class="btn btn-squared btn-light-blue" ng-model="FeatureCtrl.gridViewMode" uib-btn-radio="3">
                    <i class="ti ti-view-list"></i>
                </label>
            </div>
        </div>
    </div>
    <!-- END LARGER TOOLS BUTTON -->

    <!-- MEDIUM/SMALL/XSMALL TOOLS BUTTON VIEW-->
    <div class="row padding-bottom-20 hidden-lg">
        <div class="fullwidth padding-10">
            <span class="input-icon input-icon-right">
                <input type="text" placeholder="Filtra" class="form-control" ng-model="FeatureCtrl.searchFilter">
                <i class="fa fa-search hand-cursor" ng-if="FeatureCtrl.searchFilter.length <= 0"></i>
                <i class="fa fa-times hand-cursor" ng-if="FeatureCtrl.searchFilter.length > 0" ng-click="FeatureCtrl.searchFilter=''"></i>
            </span>
        </div>

        <div class="fullwidth center">

            <div class="btn-group" ng-init="FeatureCtrl.userViewMode=1">
                <label class="btn btn-squared btn-primary" ng-click="FeatureCtrl.openForm()">
                    <i class="fa fa-plus"></i>
                </label>
                <label class="btn btn-squared btn-primary" uib-popover-template="FeatureCtrl.letterFilterPopover.templateUrl" popover-trigger="outsideClick" popover-placement="bottom" popover-title="{{FeatureCtrl.letterFilterPopover.title}}">
                    <i class="fa fa-filter"></i>
                </label>
                <label class="btn btn-squared btn-light-blue" ng-model="FeatureCtrl.gridViewMode" uib-btn-radio="1">
                    <i class="ti ti-layout-grid4"></i>
                </label>
                <label class="btn btn-squared btn-light-blue" ng-model="FeatureCtrl.gridViewMode" uib-btn-radio="2">
                    <i class="ti ti-layout-grid3"></i>
                </label>
                <label class="btn btn-squared btn-light-blue" ng-model="FeatureCtrl.gridViewMode" uib-btn-radio="3">
                    <i class="ti ti-view-list"></i>
                </label>
            </div>

        </div>
    </div>
    <!-- END MEDIUM/SMALL/XSMALL TOOLS BUTTON VIEW-->


    <!-- GRID VIEW MODE = 1 -->
    <div ng-if="FeatureCtrl.gridViewMode===1" class="fade-in">
        <div class="row">
            <div class="csspinner load2 margin-top-20" ng-show="FeatureCtrl.loading"></div>
            <div class="col-lg-3 col-md-6 col-sm-12" ng-repeat="feature in FeatureCtrl.features | filter:FeatureCtrl.searchFilter | orderBy:['name']">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div class="center">
                            <letter-icon data="{{feature.name}}" char-count="1" color="auto" box="circle" size="md" uib-tooltip="{{feature.name}}" class="margin-bottom-5"></letter-icon>
                        </div>
                        <div class="padding-10 text-center">
                            <h5 class="title_ellipsed">{{feature.name}}</h5>
                            <h6 class="title_ellipsed"><code>{{feature.sref}}</code></h6>
                        </div>
                    </div>
                    <div class="panel-footer no-margin no-padding">
                        <div class="btn-group btn-group-justified" check-permission view="feature">
                            <a class="btn btn-blue btn-edit" data-action="edit" href="javascript:;" ng-click="FeatureCtrl.openForm(feature)"><i class="fa fa-edit"></i></a>
                            <a class="btn btn-blue btn-perms" data-action="perms" href="javascript:;" ng-click="LayoutCtrl.openObjectPermissionForm(feature, 'feature')" title="Permission"><i class="fa fa-key"></i></a>
                            <a class="btn btn-blue btn-remove" data-action="remove" href="javascript:;" ng-click="FeatureCtrl.removeElem(feature)"><i class="fa fa-trash-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END GRID VIEW MODE = 1 -->

    <!-- GRID VIEW MODE = 2 -->
    <div ng-if="FeatureCtrl.gridViewMode===2" class="fade-in">
        <div class="row">
            <div class="csspinner load2 margin-top-20" ng-show="FeatureCtrl.loading"></div>
            <div class="col-lg-4 col-md-6 col-sm-12" ng-repeat="feature in FeatureCtrl.features | filter:FeatureCtrl.searchFilter | orderBy:['name']">
                <div class="panel panel-white">
                    <!--<span class="top-border-panel bg-blue"></span>-->
                    <div class="panel-body">
                        <div class="center">
                            <letter-icon data="{{feature.name}}" char-count="2" color="auto" box="circle" size="lg" uib-tooltip="{{feature.name}}" class="margin-bottom-5"></letter-icon>
                        </div>
                        <div class="padding-10 text-center">
                            <h5 class="title_ellipsed">{{feature.name}}</h5>
                            <h6 class="title_ellipsed"><code>{{feature.sref}}</code></h6>
                        </div>

                        <table class="table table-condensed user-contact-table">
                            <tbody>
                            <tr>
                                <td class="text-center"><i class="fa fa-globe"></i> {{feature.i18n}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer no-margin no-padding">
                        <div class="btn-group btn-group-justified" check-permission view="feature">
                            <a class="btn btn-blue btn-edit" data-action="edit" href="javascript:;" ng-click="FeatureCtrl.openForm(feature)"><i class="fa fa-edit"></i></a>
                            <a class="btn btn-blue btn-perms" data-action="perms" href="javascript:;" ng-click="LayoutCtrl.openObjectPermissionForm(feature, 'feature')" title="Permission"><i class="fa fa-key"></i></a>
                            <a class="btn btn-blue btn-remove" data-action="remove" href="javascript:;" ng-click="FeatureCtrl.removeElem(feature)"><i class="fa fa-trash-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END GRID VIEW MODE = 2 -->

    <!-- GRID VIEW MODE = 3 -->
    <div class="row fade-in" ng-if="FeatureCtrl.gridViewMode===3">
        <div class="col-md-12">
            <div class="csspinner load2 margin-top-20" ng-show="FeatureCtrl.loading"></div>
            <div class="panel panel-white">
                <div class="panel-body">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Nome</th>
                            <th class="hidden-xs">SREF</th>
                            <th class="hidden-xs hidden-sm hidden-md">i18n pointer</th>
                            <th class="center">Tools</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="feature in FeatureCtrl.features | filter:FeatureCtrl.searchFilter | orderBy:['name']">
                                <td class="center">
                                    <letter-icon data="{{feature.name}}" char-count="1" color="auto" box="circle" size="sm" uib-tooltip="{{feature.name}}" class="margin-bottom-5"></letter-icon>
                                </td>
                                <td><strong>{{feature.name}}</strong></td>
                                <td class="hidden-xs"><code>{{feature.sref}}</code></td>
                                <td class="hidden-xs hidden-sm hidden-md">{{feature.i18n}}</td>
                                <td class="width-150 center hidden-xs hidden-sm hidden-md visible-lg">
                                    <div class="btn-group btn-group-justified" check-permission view="feature">
                                        <a class="btn btn-blue btn-edit" data-action="edit" href="javascript:;" ng-click="FeatureCtrl.openForm(feature)"><i class="fa fa-edit"></i></a>
                                        <a class="btn btn-blue btn-perms" data-action="perms" href="javascript:;" ng-click="LayoutCtrl.openObjectPermissionForm(feature, 'feature')" title="Permission"><i class="fa fa-key"></i></a>
                                        <a class="btn btn-blue btn-remove" data-action="remove" href="javascript:;" ng-click="FeatureCtrl.removeElem(feature)"><i class="fa fa-trash-o"></i></a>
                                    </div>
                                </td>
                                <td class="width-50 center visible-xs visible-sm visible-md hidden-lg">
                                    <div class="btn-group" uib-dropdown check-permission view="feature">
                                        <button type="button" class="btn btn-primary btn-o btn-sm dropdown-toggle" uib-dropdown-toggle>
                                            <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                                            <li>
                                                <a href="#" data-action="edit" class="btn-edit" ng-click="FeatureCtrl.openForm(feature)"><i class="fa fa-edit"></i> Edit </a>
                                            </li>
                                            <li>
                                                <a href="#" data-action="perms" class="btn-perms" class="" ng-click="LayoutCtrl.openObjectPermissionForm(feature, 'feature')"><i class="fa fa-trash-o"></i> Permission </a>
                                            </li>
                                            <li>
                                                <a href="#" data-action="remove" class="btn-remove" ng-click="FeatureCtrl.removeElem(feature)"><i class="fa fa-trash-o"></i> Remove </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END GRID VIEW MODE = 3 -->

</div>
<!-- end: TABLE WITH FILTERS -->